@import './styles/reset.scss';

:root {
  --backgroun-color: linear-gradient(180deg, #23053C, #5A00A4);
  --main-color: #ff2c65;
  --shadow-color: rgba(0, 0, 0, 0.575);
  --text-color: #d4ffff;
  --main-font: 'Kanit', sans-serif;
  --second-font: 'Montserrat', sans-serif;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--text-color);

  background-image: var(--backgroun-color);
}

